<div class="row d-flex justify-content-center">
	<div class="col-8 col-lg-4">
		<h3 class="text-center mb-5">Welcome to B1_CN Project</h3>

		<figure>
			<blockquote class="blockquote">
				<p>Save Water , Save Money</p>
			</blockquote>
			<figcaption class="blockquote-footer">
				B1 Batch
			</figcaption>
		</figure>
		
		<div class="d-grid mt-4">
			<a href="/payment" type="button" class="btn btn-primary">Pay</a>
			<div class="form-text text-center">100 rupees =1 litre water</div>
		</div>
	</div>
</div>